<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysCustomerService">
            <h2><span jhiTranslate="plantMallApp.sysCustomerService.detail.title">Sys Customer Service</span> {{sysCustomerService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantMallApp.sysCustomerService.phone" [ngbTooltip]="'plantMallApp.sysCustomerService.help.phone' | translate">Phone</span></dt>
                <dd>
                    <span>{{sysCustomerService.phone}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysCustomerService.email" [ngbTooltip]="'plantMallApp.sysCustomerService.help.email' | translate">Email</span></dt>
                <dd>
                    <span>{{sysCustomerService.email}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysCustomerService.address" [ngbTooltip]="'plantMallApp.sysCustomerService.help.address' | translate">Address</span></dt>
                <dd>
                    <span>{{sysCustomerService.address}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysCustomerService.createTime" [ngbTooltip]="'plantMallApp.sysCustomerService.help.createTime' | translate">Create Time</span></dt>
                <dd>
                    <span>{{sysCustomerService.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysCustomerService.updateTime" [ngbTooltip]="'plantMallApp.sysCustomerService.help.updateTime' | translate">Update Time</span></dt>
                <dd>
                    <span>{{sysCustomerService.updateTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-customer-service', sysCustomerService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
