<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sys-member-level-heading" jhiTranslate="plantMallApp.sysMemberLevel.home.createOrEditLabel">Create or edit a Sys Member Level</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sysMemberLevel.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sysMemberLevel.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="sysMemberLevel.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                        [(ngModel)]="sysMemberLevel.level" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.leftValue" for="field_leftValue">Left Value</label>
                    <input type="number" class="form-control" name="leftValue" id="field_leftValue"
                        [(ngModel)]="sysMemberLevel.leftValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.rightValue" for="field_rightValue">Right Value</label>
                    <input type="number" class="form-control" name="rightValue" id="field_rightValue"
                        [(ngModel)]="sysMemberLevel.rightValue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.discount" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="sysMemberLevel.discount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysMemberLevel.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="updateTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
