<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysClassify">
            <h2><span jhiTranslate="plantMallApp.sysClassify.detail.title">Sys Classify</span> {{sysClassify.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantMallApp.sysClassify.name" [ngbTooltip]="'plantMallApp.sysClassify.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{sysClassify.name}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysClassify.type" [ngbTooltip]="'plantMallApp.sysClassify.help.type' | translate">Type</span></dt>
                <dd>
                    <span>{{sysClassify.type}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysClassify.sort" [ngbTooltip]="'plantMallApp.sysClassify.help.sort' | translate">Sort</span></dt>
                <dd>
                    <span>{{sysClassify.sort}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysClassify.createTime" [ngbTooltip]="'plantMallApp.sysClassify.help.createTime' | translate">Create Time</span></dt>
                <dd>
                    <span>{{sysClassify.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysClassify.updateTime" [ngbTooltip]="'plantMallApp.sysClassify.help.updateTime' | translate">Update Time</span></dt>
                <dd>
                    <span>{{sysClassify.updateTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-classify', sysClassify.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
