<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantMallApp.sysClassify.home.title">Sys Classifies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-classify" [routerLink]="['/sys-classify/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantMallApp.sysClassify.home.createLabel">
            Create new Sys Classify
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sysClassifies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantMallApp.sysClassify.name">Name</span></th>
            <th><span jhiTranslate="plantMallApp.sysClassify.type">Type</span></th>
            <th><span jhiTranslate="plantMallApp.sysClassify.sort">Sort</span></th>
            <th><span jhiTranslate="plantMallApp.sysClassify.createTime">Create Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysClassify.updateTime">Update Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysClassify of sysClassifies ;trackBy: trackId">
                <td><a [routerLink]="['/sys-classify', sysClassify.id, 'view' ]">{{sysClassify.id}}</a></td>
                <td>{{sysClassify.name}}</td>
                <td>{{sysClassify.type}}</td>
                <td>{{sysClassify.sort}}</td>
                <td>{{sysClassify.createTime | date:'medium'}}</td>
                <td>{{sysClassify.updateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-classify', sysClassify.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-classify', sysClassify.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-classify/'+ sysClassify.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
