<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantMallApp.sysReview.home.title">Sys Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-review" [routerLink]="['/sys-review/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantMallApp.sysReview.home.createLabel">
            Create new Sys Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sysReviews">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.content">Content</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.level">Level</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.createTime">Create Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.updateTime">Update Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.product">Product</span></th>
            <th><span jhiTranslate="plantMallApp.sysReview.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysReview of sysReviews ;trackBy: trackId">
                <td><a [routerLink]="['/sys-review', sysReview.id, 'view' ]">{{sysReview.id}}</a></td>
                <td>{{sysReview.content}}</td>
                <td>{{sysReview.level}}</td>
                <td>{{sysReview.createTime | date:'medium'}}</td>
                <td>{{sysReview.updateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="sysReview.product">
                        <a [routerLink]="['../sys-product', sysReview.product?.id, 'view' ]" >{{sysReview.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysReview.user">
                        <a [routerLink]="['../sys-user', sysReview.user?.id, 'view' ]" >{{sysReview.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-review', sysReview.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-review', sysReview.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-review/'+ sysReview.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
