<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantMallApp.sysOrder.home.title">Sys Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-order" [routerLink]="['/sys-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantMallApp.sysOrder.home.createLabel">
            Create new Sys Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sysOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.tradeNo">Trade No</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.payNO">Pay NO</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.price">Price</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.type">Type</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.payType">Pay Type</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.status">Status</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.number">Number</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.description">Description</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.createTime">Create Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.updateTime">Update Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.user">User</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.product">Product</span></th>
            <th><span jhiTranslate="plantMallApp.sysOrder.receiverAddress">Receiver Address</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysOrder of sysOrders ;trackBy: trackId">
                <td><a [routerLink]="['/sys-order', sysOrder.id, 'view' ]">{{sysOrder.id}}</a></td>
                <td>{{sysOrder.tradeNo}}</td>
                <td>{{sysOrder.payNO}}</td>
                <td>{{sysOrder.price}}</td>
                <td>{{sysOrder.type}}</td>
                <td>{{sysOrder.payType}}</td>
                <td>{{sysOrder.status}}</td>
                <td>{{sysOrder.number}}</td>
                <td>{{sysOrder.description}}</td>
                <td>{{sysOrder.createTime | date:'medium'}}</td>
                <td>{{sysOrder.updateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="sysOrder.user">
                        <a [routerLink]="['../sys-user', sysOrder.user?.id, 'view' ]" >{{sysOrder.user?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysOrder.product">
                        <a [routerLink]="['../sys-product', sysOrder.product?.id, 'view' ]" >{{sysOrder.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysOrder.receiverAddress">
                        <a [routerLink]="['../sys-receiver-address', sysOrder.receiverAddress?.id, 'view' ]" >{{sysOrder.receiverAddress?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-order', sysOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-order', sysOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-order/'+ sysOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
