<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sys-order-heading" jhiTranslate="plantMallApp.sysOrder.home.createOrEditLabel">Create or edit a Sys Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sysOrder.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sysOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.tradeNo" for="field_tradeNo" [ngbTooltip]="'plantMallApp.sysOrder.help.tradeNo' | translate">Trade No</label>
                    <input type="text" class="form-control" name="tradeNo" id="field_tradeNo"
                        [(ngModel)]="sysOrder.tradeNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.payNo" for="field_payNo" [ngbTooltip]="'plantMallApp.sysOrder.help.payNo' | translate">Pay No</label>
                    <input type="text" class="form-control" name="payNo" id="field_payNo"
                        [(ngModel)]="sysOrder.payNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.price" for="field_price" [ngbTooltip]="'plantMallApp.sysOrder.help.price' | translate">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="sysOrder.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.type" for="field_type" [ngbTooltip]="'plantMallApp.sysOrder.help.type' | translate">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                        [(ngModel)]="sysOrder.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.payType" for="field_payType" [ngbTooltip]="'plantMallApp.sysOrder.help.payType' | translate">Pay Type</label>
                    <input type="number" class="form-control" name="payType" id="field_payType"
                        [(ngModel)]="sysOrder.payType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.status" for="field_status" [ngbTooltip]="'plantMallApp.sysOrder.help.status' | translate">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="sysOrder.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.number" for="field_number" [ngbTooltip]="'plantMallApp.sysOrder.help.number' | translate">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                        [(ngModel)]="sysOrder.number" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.description" for="field_description" [ngbTooltip]="'plantMallApp.sysOrder.help.description' | translate">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="sysOrder.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.maintenancePlanStatus" for="field_maintenancePlanStatus" [ngbTooltip]="'plantMallApp.sysOrder.help.maintenancePlanStatus' | translate">Maintenance Plan Status</label>
                    <input type="number" class="form-control" name="maintenancePlanStatus" id="field_maintenancePlanStatus"
                        [(ngModel)]="sysOrder.maintenancePlanStatus" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="updateTime"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="sysOrder.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysUserOption.id === sysOrder.user?.id ? sysOrder.user : sysUserOption" *ngFor="let sysUserOption of sysusers; trackBy: trackSysUserById">{{sysUserOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysOrder.receiverAddress" for="field_receiverAddress">Receiver Address</label>
                    <select class="form-control" id="field_receiverAddress" name="receiverAddress" [(ngModel)]="sysOrder.receiverAddress" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysReceiverAddressOption.id === sysOrder.receiverAddress?.id ? sysOrder.receiverAddress : sysReceiverAddressOption" *ngFor="let sysReceiverAddressOption of sysreceiveraddresses; trackBy: trackSysReceiverAddressById">{{sysReceiverAddressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
