<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysShoppingCar">
            <h2><span jhiTranslate="plantMallApp.sysShoppingCar.detail.title">Sys Shopping Car</span> {{sysShoppingCar.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantMallApp.sysShoppingCar.type" [ngbTooltip]="'plantMallApp.sysShoppingCar.help.type' | translate">Type</span></dt>
                <dd>
                    <span>{{sysShoppingCar.type}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysShoppingCar.createTime" [ngbTooltip]="'plantMallApp.sysShoppingCar.help.createTime' | translate">Create Time</span></dt>
                <dd>
                    <span>{{sysShoppingCar.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysShoppingCar.updateTime" [ngbTooltip]="'plantMallApp.sysShoppingCar.help.updateTime' | translate">Update Time</span></dt>
                <dd>
                    <span>{{sysShoppingCar.updateTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysShoppingCar.user">User</span></dt>
                <dd>
                    <div *ngIf="sysShoppingCar.user">
                        <a [routerLink]="['/sys-user', sysShoppingCar.user?.id, 'view']">{{sysShoppingCar.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-shopping-car', sysShoppingCar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
