<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantMallApp.sysMemberSetting.home.title">Sys Member Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-member-setting" [routerLink]="['/sys-member-setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantMallApp.sysMemberSetting.home.createLabel">
            Create new Sys Member Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sysMemberSettings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.growthProportion">Growth Proportion</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.reviewGrowthValue">Review Growth Value</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.checkGrowthValue">Check Growth Value</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.integralProportion">Integral Proportion</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.reviewIntegralValue">Review Integral Value</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.checkIntegralValue">Check Integral Value</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.integralProportionCash">Integral Proportion Cash</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.createTime">Create Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysMemberSetting.updateTime">Update Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysMemberSetting of sysMemberSettings ;trackBy: trackId">
                <td><a [routerLink]="['/sys-member-setting', sysMemberSetting.id, 'view' ]">{{sysMemberSetting.id}}</a></td>
                <td>{{sysMemberSetting.growthProportion}}</td>
                <td>{{sysMemberSetting.reviewGrowthValue}}</td>
                <td>{{sysMemberSetting.checkGrowthValue}}</td>
                <td>{{sysMemberSetting.integralProportion}}</td>
                <td>{{sysMemberSetting.reviewIntegralValue}}</td>
                <td>{{sysMemberSetting.checkIntegralValue}}</td>
                <td>{{sysMemberSetting.integralProportionCash}}</td>
                <td>{{sysMemberSetting.createTime | date:'medium'}}</td>
                <td>{{sysMemberSetting.updateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-member-setting', sysMemberSetting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-member-setting', sysMemberSetting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-member-setting/'+ sysMemberSetting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
