<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sys-coupon-product-heading" jhiTranslate="plantMallApp.sysCouponProduct.home.createOrEditLabel">Create or edit a Sys Coupon Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sysCouponProduct.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sysCouponProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponProduct.residue" for="field_residue" [ngbTooltip]="'plantMallApp.sysCouponProduct.help.residue' | translate">Residue</label>
                    <input type="number" class="form-control" name="residue" id="field_residue"
                        [(ngModel)]="sysCouponProduct.residue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponProduct.createTime" for="field_createTime" [ngbTooltip]="'plantMallApp.sysCouponProduct.help.createTime' | translate">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponProduct.updateTime" for="field_updateTime" [ngbTooltip]="'plantMallApp.sysCouponProduct.help.updateTime' | translate">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="updateTime"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponProduct.coupon" for="field_coupon">Coupon</label>
                    <select class="form-control" id="field_coupon" name="coupon" [(ngModel)]="sysCouponProduct.coupon" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysCouponOption.id === sysCouponProduct.coupon?.id ? sysCouponProduct.coupon : sysCouponOption" *ngFor="let sysCouponOption of syscoupons; trackBy: trackSysCouponById">{{sysCouponOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponProduct.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="sysCouponProduct.product" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysProductOption.id === sysCouponProduct.product?.id ? sysCouponProduct.product : sysProductOption" *ngFor="let sysProductOption of sysproducts; trackBy: trackSysProductById">{{sysProductOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
