<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysProduct">
            <h2><span jhiTranslate="plantMallApp.sysProduct.detail.title">Sys Product</span> {{sysProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plantMallApp.sysProduct.name" [ngbTooltip]="'plantMallApp.sysProduct.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{sysProduct.name}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.leasePrice" [ngbTooltip]="'plantMallApp.sysProduct.help.leasePrice' | translate">Lease Price</span></dt>
                <dd>
                    <span>{{sysProduct.leasePrice}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.price" [ngbTooltip]="'plantMallApp.sysProduct.help.price' | translate">Price</span></dt>
                <dd>
                    <span>{{sysProduct.price}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.image" [ngbTooltip]="'plantMallApp.sysProduct.help.image' | translate">Image</span></dt>
                <dd>
                    <span>{{sysProduct.image}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.inventory" [ngbTooltip]="'plantMallApp.sysProduct.help.inventory' | translate">Inventory</span></dt>
                <dd>
                    <span>{{sysProduct.inventory}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.sale" [ngbTooltip]="'plantMallApp.sysProduct.help.sale' | translate">Sale</span></dt>
                <dd>
                    <span>{{sysProduct.sale}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.description" [ngbTooltip]="'plantMallApp.sysProduct.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{sysProduct.description}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.createTime" [ngbTooltip]="'plantMallApp.sysProduct.help.createTime' | translate">Create Time</span></dt>
                <dd>
                    <span>{{sysProduct.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.updateTime" [ngbTooltip]="'plantMallApp.sysProduct.help.updateTime' | translate">Update Time</span></dt>
                <dd>
                    <span>{{sysProduct.updateTime}}</span>
                </dd>
                <dt><span jhiTranslate="plantMallApp.sysProduct.classify">Classify</span></dt>
                <dd>
                    <span *ngFor="let classify of sysProduct.classifies; let last = last">
                        <a [routerLink]="['/sys-classify', classify?.id, 'view' ]">{{classify.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-product', sysProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
