<div>
    <h2 id="page-heading">
        <span jhiTranslate="plantMallApp.sysCollection.home.title">Sys Collections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-collection" [routerLink]="['/sys-collection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="plantMallApp.sysCollection.home.createLabel">
            Create new Sys Collection
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sysCollections">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="plantMallApp.sysCollection.createTime">Create Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysCollection.updateTime">Update Time</span></th>
            <th><span jhiTranslate="plantMallApp.sysCollection.user">User</span></th>
            <th><span jhiTranslate="plantMallApp.sysCollection.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysCollection of sysCollections ;trackBy: trackId">
                <td><a [routerLink]="['/sys-collection', sysCollection.id, 'view' ]">{{sysCollection.id}}</a></td>
                <td>{{sysCollection.createTime | date:'medium'}}</td>
                <td>{{sysCollection.updateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="sysCollection.user">
                        <a [routerLink]="['../sys-user', sysCollection.user?.id, 'view' ]" >{{sysCollection.user?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sysCollection.product">
                        <a [routerLink]="['../sys-product', sysCollection.product?.id, 'view' ]" >{{sysCollection.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-collection', sysCollection.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-collection', sysCollection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-collection/'+ sysCollection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
