<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sys-coupon-classify-heading" jhiTranslate="plantMallApp.sysCouponClassify.home.createOrEditLabel">Create or edit a Sys Coupon Classify</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sysCouponClassify.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sysCouponClassify.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponClassify.createTime" for="field_createTime" [ngbTooltip]="'plantMallApp.sysCouponClassify.help.createTime' | translate">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponClassify.updateTime" for="field_updateTime" [ngbTooltip]="'plantMallApp.sysCouponClassify.help.updateTime' | translate">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="updateTime"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponClassify.coupon" for="field_coupon">Coupon</label>
                    <select class="form-control" id="field_coupon" name="coupon" [(ngModel)]="sysCouponClassify.coupon" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysCouponOption.id === sysCouponClassify.coupon?.id ? sysCouponClassify.coupon : sysCouponOption" *ngFor="let sysCouponOption of syscoupons; trackBy: trackSysCouponById">{{sysCouponOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plantMallApp.sysCouponClassify.classify" for="field_classify">Classify</label>
                    <select class="form-control" id="field_classify" name="classify" [(ngModel)]="sysCouponClassify.classify" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sysClassifyOption.id === sysCouponClassify.classify?.id ? sysCouponClassify.classify : sysClassifyOption" *ngFor="let sysClassifyOption of sysclassifies; trackBy: trackSysClassifyById">{{sysClassifyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
